
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(90deg, #142a3d 0%, #1f3a52 100%);
    min-height: 80px;
    padding: 0px 48px;
    color: white;
    
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
     color: white;
    text-decoration: none;
      font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
}

.logo img{
    height: 45px;
    max-height: 100%;
    object-fit: contain;
    
    
}

.nav{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
   
}

.nav a {
    color: white;
    text-decoration: none;
}