
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    background: linear-gradient(90deg, #0f172a 0%, #0f172a 50%, #0f172a 100%);
    min-height: 65px;
    padding: 0px 48px;
    color: white;  
    position: sticky;
    top: 0;
    z-index: 1000;
}
    
    

.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
     color: white;
    text-decoration: none;
      font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
}

.logo img{
    height: 35px;
    max-height: 100%;
    object-fit: contain;
    
    
}

.nav{
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
   
}

.nav a {
    color: white;
    text-decoration: none;
}

.navtext:hover{
   
  color: #3B82F6
}